<div ng-controller="protestPageCtrl">
    <div class="jumbotron">
        <h1>{{protest.name}}</h1>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-repeat="tab in tabs" 
            ng-class="{'active': selectedTab == tab}">
            <a data-toggle="tab" ng-click="selectTab(tab)">{{tab}}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div ng-repeat="tab in tabs" id="{{tab}}" class="tab-pane fade" ng-class="{'active':selectedTab == tab,'in': selectedTab == tab, 'out': selectedTab != tab}">
            <h3>{{tab}}</h3>
            <p>Some content.</p>
        </div>
    </div>
</div>