<div class="panel panel-default">
    <div class="panel-heading">Geekim protest</div>
    <div class="panel-body">
        <p align="right">
            לא משנה אם אתם מפתחים, מעצבים או יזמים בנפש. לא משנה אם ב- .NET או ב-Python, אתם יכולים לעשות שינוי. ב-24 השעות של ההאקאתון תעבדו בצוותים המורכבים מצעירים מוכשרים ותפתחו אפליקצייה, אתר או שירות שיתן מענה לבעיה מהותית בחיי היום יום בישראל - יוקר המחיה. החל מאפליקציות המעודדות צרכנות חכמה ועד לשימוש בחכמת ההמונים וב-Big Data לקבלת החלטות צרכניות נבונות - הבמה היא שלכם
        </p>
    </div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item">
            <p class="bg-danger">06:55 - New forum topic added!</p>
            <p class="bg-success">06:45 - 1065 mails sent in the last 10 mins</p>
            <p class="bg-success">06:38 - 264 posted their protest at Facebook</p>
            <p class="bg-success">06:22 - 99 posted their protest at Instagram</p>
            <p class="bg-danger">06:01 - New news item added!</p>
            <p class="bg-primary">05:55 - Protest reached 100000 people!</p>
            <p class="bg-danger">05:51 - New forum topic added!</p>
            <p class="bg-success">05:45 - 65 tweets sent</p>
            <p class="bg-primary">05:38 - Protest reached 50000 people!</p>
            <p class="bg-primary">05:30 - Web-adds campaign launched!</p>
            <p class="bg-success">05:22 - 234 posted their protest at Instagram</p>
            <p class="bg-danger">05:01 - New news item added!</p>
            <p class="bg-primary">04:55 - Protest reached 25000 people!</p>
        </li>
    </ul>
</div>
<table border="0" style="width:100%">
    <tr>
        <td width="70%">
            <div class="panel panel-default">
                <div class="panel-heading">Statistics</div>
                <div class="panel-body">
                    <p align="center">
                        FaceBook: 485 unique views</br>
                        Twitter: 394 unique views</br>
                        Gmail: 59 mails sent</br>
                        Yahoo: 324 mails sent</br>
                        News: 6554 mails sent</br>
                        Forums: 38,293 unique views</br>
                        Adds: 54833 unique views
                        <legend></legend>
                        Abroad: 6532 views</br>
                        Local: 265431 views
                    </p>
                </div>
            </div>
        </td>
        <td>
            <div class="panel panel-default">
                <div class="panel-heading">Heat Map</div>
                <div class="panel-body" align="center">
                    <img src="http://imageshack.com/a/img910/2445/ek8Y86.jpg"></img>
                </div>
            </div>
        </td>
    </tr>
</table>