<div>
    <button class="btn btn-primary" ng-click="p.join()">Join !</button>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3">
        <uib-tabset justified="true">
            <uib-tabset vertical="true" type="pills">
                <uib-tab heading="Description" ui-sref=".desc">
                </uib-tab>
                <uib-tab heading="news" ui-sref=".news">
                </uib-tab>
                <uib-tab heading="Vertical 2">Vertical content 2</uib-tab>
            </uib-tabset>
        </uib-tabset>
    </div>
    <div class="col-md-9 col-sm-9">
        <div ui-view></div>
    </div>
</div>



{{p.protest | json }}