
<div class="row">
    <div class="col-md-3 col-sm-3" style="width:15%;">
        <uib-tabset justified="true">
            <uib-tabset vertical="true" type="pills">
                <uib-tab heading="Description" ui-sref=".desc">
                </uib-tab>
                <uib-tab heading="News" ui-sref=".news">
                </uib-tab>
                <uib-tab heading="Forums" ui-sref=".forums">
            </uib-tabset>
        </uib-tabset>
    </div>
    <div class="col-md-9 col-sm-9">
        <div ui-view></div>
    </div>
</div>



{{p.protest | json }}