<div ng-controller="ForumsCtrl">
    <script type="text/ng-template">
        <div class="panel {{panelClass || 'panel-default'}}">
            <div class="panel-heading">
                <h4 class="panel-title" style="color:#fa39c3, height:800px">
                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
                            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
                </h4>
            </div>
            <div class="panel-collapse collapse">
                <div class="panel-body" style="text-align: right" ng-transclude></div>
            </div>
        </div>
    </script>
    <uib-accordion>
        <uib-accordion-group>
            <uib-accordion-heading>
                Kikar - religious discussion <img class="pull-right" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQop9SwrLJQsDhL58eF9BLBlfWzc27odH7VdlpRJJphlB_6S_WcxWEYr3U"/>
            </uib-accordion-heading>
            <iframe id="i1" src="http://www.bhol.co.il/forums/topic.asp?cat_id=4&topic_id=3097770&forum_id=21306" width="100%" height="600px" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                Tapuz - hot discussion <img class="pull-right" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQop9SwrLJQsDhL58eF9BLBlfWzc27odH7VdlpRJJphlB_6S_WcxWEYr3U"/>
            </uib-accordion-heading>
            <iframe src="http://www.tapuz.co.il/forums2008/forumPage.aspx?forumId=219" width="100%" height="600px" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                Rotter - discussion & poll <img class="pull-right" src="http://2.bp.blogspot.com/-nuSEy00J8RM/Tpp14Cpnx_I/AAAAAAAAB8w/gOsW5afUGuM/s23/icon_new.gif"/>
            </uib-accordion-heading>
            <iframe src="http://rotter.net/forum/scoops1/266612.shtml" width="100%" height="600px" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                Walla Forums - poll
            </uib-accordion-heading>
            <iframe id="i4" src="http://forums.walla.co.il/viewtopic.php?f=2903&t=14698127" width="100%" height="600px" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        </uib-accordion-group>
    </uib-accordion>
</div>