<div>
    <script type="text/ng-template">
        <div class="panel {{panelClass || 'panel-default'}}">
            <div class="panel-heading">
                <h4 class="panel-title" style="color:#fa39c3; height: 800px;">
                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
                            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
                </h4>
            </div>
            <div class="panel-collapse collapse">
                <div class="panel-body" style="text-align: right" ng-transclude></div>
            </div>
        </div>
    </script>
    <uib-accordion>
        <uib-accordion-group ng-repeat="forum in f.forums" is-open="forum.isOpen">
            <uib-accordion-heading>
                {{forum.name}} <img ng-if="forum.image" class="pull-right" ng-src="{{forum.image}}" />
            </uib-accordion-heading>
                <smart-iframe ng-if="forum.isOpen" id="{{forum.id}}" src="forum.src" allowfullscreen="allowfullscreen" frameborder="0"></smart-iframe>
        </uib-accordion-group>
    </uib-accordion>
</div>